<div class="row position-main">
  <div class="card card-margin">
    <div class="card-body">
      <h2 class="card-title text-center">
        Round 2
      </h2>
      <p class="card-text">
        The manufacturers, importers, wholesalers, exporters of various Multi-National Companies have
        selected a warehouse in Sweden as their centralised hub. Having this as their prime area, they need to
        safeguard it with high security and maintenance. Appropriate devices that act as a sensor are fixed in this
        godown in order to detect and record the number of goods that are being stored and exported from the
        warehouse. <br> <br>
        It is estimated that in a day nearly 100 companies visit this warehouse to export their respective
        goods. For clear analysis, 100 devices are connected in series to get the exact information of which companies
        have visited. When the first company arrives there, all the devices are set OFF. Secondly as the next company
        arrives the devices 2,4,6,8… are set ON. Consecutively as the third company enters, the devices 3,6,9,12……
        are set ON. The same operation takes place successively up to the 100 th company. A distinct point to be noted
        that the numbers might overlap for the respective companies, in that case, if the device is ON make it OFF and
        vice-versa. <br> <br>
        At the end of the day i.e. after all the 100 companies have furnished their work at the warehouse,
        which devices are kept OFF?
      </p>
    </div>
  </div>
</div>
